@import "compass/css3";

* {
    @include box-sizing(border-box);
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
}
button {
    cursor: pointer;
}
.video-am {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 30px auto 0;
    overflow: hidden;

    &.fullscreen-mode-am {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;

        .video-container-am {
            width: 100%;
            height: 100%;
        }
        .controls-am .fullscreen-am {
            background-image: image-url('exitfullscreen.svg');
        }
    }
    .poster-am
    , .overlay-am {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .poster-am {
        @include background-size(cover);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
    }
    &.playing .poster-am
    , &.paused .poster-am {
        visibility: hidden;
    }
    .overlay-am {
        background: rgba(0, 0, 0, 0.6);
        z-index: 3;

        &:before
        , &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
        &:before {
            @include border-radius(50%);
            left: 0;
            width: 100px;
            height: 100px;
            border: solid 4px #fff;
        }
        &:after {
            @include backface-visibility(hidden);
            @include transition(transform 0.4s);
            left: 10px;
            width: 0;
            height: 0;
            border-top: solid 20px transparent;
            border-bottom: solid 20px transparent;
            border-left: solid 30px #fff;
        }
    }
    .video-container-am {
        position: relative;
        z-index: 1 !important;

        video {
            background: #000;
            display: block;
            width: 100%;
            height: 100%;

            &::-webkit-media-controls
            , &::-webkit-media-controls-enclosure {
                display: none !important;
            }
        }
    }
    .controls-am {
        @include transition(transform 0.6s 2s);
        @include translateY(60px);
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 40px;

        .play-pause-am {
            position: relative;
            height: 100%;
            width: 50px;

            &:before
            , &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto
            }
            &:before {
                width: 0;
                height: 0;
                border-top: solid 12px transparent;
                border-bottom: solid 12px transparent;
                border-left: solid 15px #fff;
            }
            &:after {
                visibility: hidden;
                width: 10px;
                height: 20px;
                border-left: solid 6px #fff;
                border-right: solid 6px #fff;
            }
        }
        .time-am {
            width: 500px;
            padding: 0 40px;
            position: relative;

            .current-time-am
            , .total-time-am {
                color: #fff;
                font-size: 14px;
                line-height: 18px;
                vertical-align: middle;
                position: absolute;
                top: 0;
            }
            .current-time-am {
                left: 0;
            }
            .total-time-am {
                right: 0;
            }
            input[type="range"] {
                -webkit-appearance: none;
                width: 100%;
                height: 10px;

                &::-webkit-slider-thumb {
                  -webkit-appearance: none;
                }
                &:focus {
                  outline: none;
                }
                &::-ms-track {
                  width: 100%;
                  background: transparent;
                  border-color: transparent;
                  color: transparent;
                }
                &::-webkit-slider-thumb {
                    background: #ffffff;
                    height: 10px;
                    width: 5px;
                    margin-top: -2px;
                }
                &::-moz-range-thumb {
                    background: #ffffff;
                    height: 10px;
                    width: 5px;
                    margin-top: -2px;
                }
                &::-ms-thumb {
                    background: #ffffff;
                    height: 10px;
                    width: 5px;
                    margin-top: -2px;
                }
                &::-webkit-slider-runnable-track {
                    background: rgba(255, 255, 255, 0.4);
                    width: 100%;
                    height: 5px;
                }
                &::-moz-range-track {
                    background: rgba(255, 255, 255, 0.4);
                    width: 100%;
                    height: 5px;
                }
                &::-ms-track {
                    background: rgba(255, 255, 255, 0.4);
                    width: 100%;
                    height: 5px;
                }
                &::-ms-fill-lower {
                    background: #2a6495;
                }
                &::-ms-fill-upper {
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 2.6px;
                }
            }
        }
        .volume-am {
            @include background-size(20px auto);
            background-image: image-url('volume.svg');
            background-position: center;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            position: relative;
            cursor: pointer;

            &:before
            , &:after {
                @include backface-visibility(hidden);
                @include border-radius(2px);
                content: '';
                display: block;
                background: rgba(210, 21, 21, 0.6);
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 25px;
                height: 4px;
            }
            &:before {
                @include rotate(-45deg);
            }
            &:after {
                @include rotate(45deg);
            }
            &.muted:before
            , &.muted:after {
                visibility: visible;
            }
            input[type="range"] {
                @include transition(visibility 0s 1s);
                @include rotate(-90deg);
                -webkit-appearance: none;
                background: rgba(0, 0, 0, 0.6);
                visibility: hidden;
                position: absolute;
                left: 0;
                bottom: 85px;
                width: 130px;
                height: 40px;
                margin-left: -45px;

                &::-webkit-slider-thumb {
                  -webkit-appearance: none;
                }
                &:focus {
                  outline: none;
                }
                &::-ms-track {
                  width: 100%;
                  background: transparent;
                  border-color: transparent;
                  color: transparent;
                }
                &::-webkit-slider-thumb {
                    background: #ffffff;
                    height: 15px;
                    width: 10px;
                    margin-top: -2.5px;
                    border: solid 1px rgba(0, 0, 0, 0.6);
                    border-radius: 3px;
                }
                &::-moz-range-thumb {
                    background: #ffffff;
                    height: 15px;
                    width: 10px;
                    margin-top: -2.5px;
                    border: solid 1px rgba(0, 0, 0, 0.6);
                    border-radius: 3px;
                }
                &::-ms-thumb {
                    background: #ffffff;
                    height: 15px;
                    width: 10px;
                    margin-top: -2.5px;
                    border: solid 1px rgba(0, 0, 0, 0.6);
                    border-radius: 3px;
                }
                &::-webkit-slider-runnable-track {
                    background: rgba(255, 255, 255, 0.4);
                    width: 20px;
                    height: 10px;
                }
                &::-moz-range-track {
                    background: rgba(255, 255, 255, 0.4);
                    width: 20px;
                    height: 10px;
                }
                &::-ms-track {
                    background: rgba(255, 255, 255, 0.4);
                    width: 20px;
                    height: 10px;
                }
                &::-ms-fill-lower {
                    background: #2a6495;
                }
                &::-ms-fill-upper {
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 2.6px;
                }
            }
            &:hover input[type="range"] {
                @include transition(visibility 0s);
                visibility: visible;
            }
        }
        .fullscreen-am {
            @include background-size(20px auto);
            background-image: image-url('fullscreen.svg');
            background-position: center;
            background-repeat: no-repeat;
            content: '';
            width: 40px;
            height: 100%;
        }
    }
    &:hover .controls-am
    , .controls-am:focus {
        @include transition(transform 0.6s);
        @include translateY(0);
    }
    &:hover:after {
        @include scale(1.1);
    }
    &.playing {
        .overlay-am {
            visibility: hidden;
        }
        .controls-am {
            .play-pause-am {
                &:before {
                    visibility: hidden;
                }
                &:after {
                    visibility: visible;
                }
            }
        }
    }
}